/*
 * Globals
 */

/* Using "Lato" font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky');


/* Links */
a,
a:focus,
a:hover {
  color: #2980B9;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #229ffd;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #229ffd;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-box-pack: center;
  justify-content: center;
}

.background-light {
    padding-top: 60px;
    background: #ffffff;
}

h1,h2,h3,h4,h5 {
    color: #776F70;
    font-weight: 100;
}

.thin-text {
    font-weight: 100;
}

.normal-text {
    font-weight: 300;
}

.text-shadow {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.text-white {
    color: #ffffff;
}

.text-gray {
    color: #776F70;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover-heading {
    margin-top: 30px;
    color: #ffffff;
    font-family: 'Fontdiner Swanky', cursive;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin-top: 40px;
}
/*.cover .btn-secondary {
  padding: .75rem 1.25rem;
}*/

.inner-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.download-btn {
  margin-bottom: 20px;
}

.github-buttons {
  margin-bottom: 10px;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
* Google code prettify
*
*/
.codebox {
  margin-top: 30px;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  background: #ffffff;
}

.examples .button {
  margin: 5px;
}

.examples .button-dropdown .button {
  margin: 0px;
}

.examples .button-group .button {
  margin: 0px;
}

.examples {
  margin-top: 20px;
  margin-bottom: 20px;
}

h5.codebox-title {
  text-align: left;
  border-bottom: 1px solid #ecf0f1;
  padding: 10px;
}

pre.prettyprint {
  padding: 20px;
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #ffffff;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
  text-align: left;
}

.pln {
  color: #4d4d4c;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #229ffd;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #ffffff;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #718c00;
  }

  /* keyword */

  .kwd {
    color: #8959a8;
  }

  /* comment */

  .com {
    color: #8e908c;
  }

  /* type name */

  .typ {
    color: #4271ae;
  }

  /* literal value */

  .lit {
    color: #f5871f;
  }

  /* punctuation */

  .pun {
    color: #4d4d4c;
  }

  /* lisp open bracket */

  .opn {
    color: #4d4d4c;
  }

  /* lisp close bracket */

  .clo {
    color: #4d4d4c;
  }

  /* markup tag name */

  .tag {
    color: #c82829;
  }

  /* markup attribute name */

  .atn {
    color: #f5871f;
  }

  /* markup attribute value */

  .atv {
    color: #3e999f;
  }

  /* declaration */

  .dec {
    color: #f5871f;
  }

  /* variable name */

  .var {
    color: #c82829;
  }

  /* function name */

  .fun {
    color: #4271ae;
  }
}
